#outermost {
    display: flex;
    flex-direction: column;
}

#digitsAndOperators {
    display: flex;
    flex-direction: row;
}

#digits {
    display: flex;
    flex-direction: column;
}

#operators {
    display: flex;
    flex-direction: column;
}